body{
    background-color: rgb(203, 179, 179);
    font-family: verdana; 
}
h1{
    color: rgb(135, 135, 46);
    text-align: left;
    border: 2px  dotted;

}
p{
    color: rgb(72, 33, 27);
    text-align: left;
    border: 2px rgb(150, 125, 125) dashed;
}